*{
    margin: 0;
    padding: 0;

}

#container{
    display: grid;
    height: 100vh;
    grid-template-rows: 10px repeat(10, 1fr) 10px;
}

#header{
    display: flex;
    grid-row: 1 / span 3;
    background-color: green;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}